In [1]:
import os
import sys

In [2]:
sys.path.append(os.path.abspath(".."))

In [3]:
from scripts.preprocess import *

In [4]:
data_path = "/home/nahomnadew/Desktop/10x/week10/Brent_oil/Data/Data/BrentOilPrices.csv"

In [5]:
prep = BrentOilDataProcessor(data_path)

In [6]:
prep.load_data()

‚úÖ Data loaded successfully!

              Date  Price
0        20-May-87  18.63
1        21-May-87  18.45
2        22-May-87  18.55
3        25-May-87  18.60
4        26-May-87  18.63
...            ...    ...
9006  Nov 08, 2022  96.85
9007  Nov 09, 2022  93.05
9008  Nov 10, 2022  94.25
9009  Nov 11, 2022  96.37
9010  Nov 14, 2022  93.59

[9011 rows x 2 columns]

In [7]:
prep.preprocess_data()

/home/nahomnadew/Desktop/10x/week10/Brent_oil/scripts/preprocess.py:25: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  self.df['Date'] = pd.to_datetime(self.df['Date'], errors='coerce')

‚ö†Ô∏è Found 3996 duplicate rows. Removing duplicates...
‚úÖ Data preprocessing complete!

            Price
Date
1987-05-20  18.63
1987-05-21  18.45
1987-05-22  18.55
1987-05-25  18.60
1987-05-29  18.58
...           ...
2022-11-01  95.12
2022-11-03  95.29
2022-11-08  96.85
2022-11-09  93.05
2022-11-14  93.59

[5015 rows x 1 columns]

In [8]:
prep.data_summary()

üîç Dataset Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5015 entries, 1987-05-20 to 2022-11-14
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Price   5015 non-null   float64
dtypes: float64(1)
memory usage: 78.4 KB
None

üìä Summary Statistics:
             Price
count  5015.000000
mean     59.346634
std      33.058347
min       9.100000
25%      28.915000
50%      56.790000
75%      82.290000
max     143.950000

üóì Date Range:
Start Date: 1987-05-20 00:00:00, End Date: 2022-11-14 00:00:00

In [9]:
prep.get_clean_data()

            Price
Date
1987-05-20  18.63
1987-05-21  18.45
1987-05-22  18.55
1987-05-25  18.60
1987-05-29  18.58
...           ...
2022-11-01  95.12
2022-11-03  95.29
2022-11-08  96.85
2022-11-09  93.05
2022-11-14  93.59

[5015 rows x 1 columns]